[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nb_black = "*"
isort = "*"
jupyterlab = "*"
notebook = "*"
jupyter-nbextensions-configurator = "*"
matplotlib = "*"
pipfile = "*"
pytest = "*"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
mplfinance = "*"
alpha_vantage = "*"
flask = "*"
Django = "==2.1.*"
djangorestframework = "==3.9.*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
